<!-- Linux命令行搜索引擎：https://cmd.xiechengqi.top/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
  <a target="_blank" href="https://github.com/Xiechengqi/cmd/new/main/command">添加命令</a> |
  <a href="<%=relative_path%>hot.html">命令列表</a> |
  <br />
  <div>
    共搜集到
    <span id="commands_info">
      <%=describe.command_length?describe.command_length:''%>
    </span> 个 Linux 命令
  </div>
</div>
